<div id="container">
  <div id="mainBox">
  <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Username</label>
    <span class="value" *ngIf=""></span>
    <input type="email" class="form-control" formControlName="userName" placeholder="Enter Name">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">UserId</label>
    <span class="value" *ngIf=""></span>
    <input type="email" class="form-control" formControlName="userId" placeholder="">
  </div>
  <button type="submit" class="btn btn-primary">Edit</button>
  </form>
  </div>
</div>
