
<div id="card-container">
  <div class="card" style="width: 18rem;">
    <img src="assets/images/Stories.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Stories</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a [routerLink]="'/' +  Route.Stories" class="btn btn-primary">Explore More</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="assets/images/Art.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Art & Craft</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a [routerLink]="'/' + Route.ArtCraft" class="btn btn-primary">Explore More</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="assets/images/Music.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Music & Podcast</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a [routerLink]="'/' + Route.MusicPodcast" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>